# 字体二进制默认不入库:仓库只随附每类一款代表字体,其余用 scripts/fetch_font.py 按需下载
*.ttf
*.otf
*.woff
*.woff2

# 代表字体(每类一款,随仓库分发)
!source-han-sans/NotoSansSC-VF.ttf
!source-han-serif/NotoSerifSC-VF.ttf
!smiley-sans/SmileySans-Oblique.ttf
!lxgw-wenkai/LXGWWenKai-Regular.ttf
!zcool-kuaile/ZCOOLKuaiLe-Regular.ttf
!misans/MiSans-Regular.ttf

# 英文点缀字体(体量小,随仓库分发)
!english-roboto-flex/RobotoFlex-VF.ttf
!english-shantell/ShantellSans-Bouncy-Regular.otf
!english-eb-garamond/EBGaramond-Regular.ttf
!english-eb-garamond/EBGaramond-Italic.ttf
!english-rozha-one/RozhaOne-Regular.otf
!english-sigmar/Sigmar-Regular.ttf
!english-chewy/Chewy-Regular.ttf
!english-ranchers/Ranchers-Regular.ttf
!english-frijole/Frijole-Regular.ttf
!english-trochut/Trochut-Regular.ttf
!english-miss-fajardose/MissFajardose-Regular.ttf
